PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://usuario:password@localhost:5432/restaurant_reservations_db?schema=public"

JWT_SECRET="cambiar_por_una_clave_segura"
JWT_EXPIRES_IN="1d"
BCRYPT_SALT_ROUNDS=12
